<div class="container">

	<div class="jumbotron center">
		<div class="row">
		  <div class="col-md-4">
		  	<%= image_tag('andrew_fish.jpg') %>
		  </div>

		  <div class="col-md-8">
		  	<h1 class="home_title">Andrew Foster</h1>
		  	<h4 class="home_sub">History</h4>
		  	<p class="home_txt">In early 2009, Andrew and his freind Jason Rylance founded Lost Tie LLC., a web development firm in Corpus Christi. The firm focused on CD package design at first but quickly grew into a diverse print & web design company with a steady client list. </p>
		  	<%= link_to 'Read More', about_path, class: "btn  btn-info pull-left" %>

		  </div>
		  
		</div>
		
	</div>

		
		
	</div>

	 

		  
		</div>

</div>