<div class="container">

<div class="jumbotron center">
  <h2>Go Show The World!</h2>
  <p>Welcome, create pins and share them with your friends! Get started today!</p>
  <p>Push the Button!</p>
<%= link_to 'Create A New Pin', new_pin_path, class: "btn btn-primary"  %>
</div>

</div>