

	<div class="jumbotron center">
		<div class="row">
		  <div class="col-md-4">
		  	<%= image_tag('andrew_fish.jpg') %>
		  </div>

		  <div class="col-md-8">
		  	<h1 class="home_title">Hi, I'm Andrew Foster</h1>
		  	<p class="home_txt">My philosphy is fairly simple, work hard, provide products that are high quailty and service that goes far above expectations. "Do your research, know your customer and who thier customers are." Overall be TRUSTWORTHY & HONEST ABOUT EVERYTHING. I love what I do and most importantly I love helping other people.</p>
		  	<%= link_to 'Read More', about_path, class: "btn  btn-info pull-left" %>

		  </div>
		  
		</div>
		
	</div>

		
		
	</div>

	 

		  
		</div>

