<div class="jumbotron center" style="background-image">

<div class="Banner">
<%= image_tag("banner.jpg", :alt => "banner image") %>
</div>

<h1>About Us</h1>
<p>Reel Sportswear is dedicated to serving its local community and environment in conservation of marine resources and reduction of environmental impact. Our company firmly believes that by educating, conserving and promoting the present and future of our natural marine resources, we can preserve a sustainable future for the sport of fishing and the wildlife that we share our home with. Reel Sportswear has joined efforts with CCA Texas in hopes of forging a bond between our customers and our waterways. To help, Reel Sportswear donates 5% of gross sales to CCA Texas. Help Reel Sportswear and CCA Texas preserve and promote conservation of our marine resources by joining the CCA. For more information please visit www.ccatexas.org</p>

</div>